.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px; // Example height, adjust as needed

    background-color: #1c294b;
    color: white;

    .logo-container {
        display: flex;
        align-items: center;

        img {
            // Set image size as necessary, might want to keep it proportional to your header height
            height: 50px; // Example size
        }

        h1 {
            margin-left: 15px; // Give some space between the logo and the title
            // Additional styling as needed
        }
    }

    .admin-button {
        margin-right: 15px;
    }

    a, a:visited, a:hover, a:active{
        color: white;
        text-decoration: none;
    }

    
}
