<div class="pending-order-content">
    <p><strong>Order ID:</strong> {{ order.contractID }}</p>
    <p><strong>Item:</strong> {{ order.itemName }}</p>
    <p><strong>Price:</strong> {{ order.price }}</p>
    <p><strong>Description:</strong> {{ order.description }}</p>
    <p><strong>Interest Rate:</strong> {{ order.interestRate }}</p>
    <p><strong>Status:</strong> {{ order.status }}</p>
    <button pButton pRipple label="Y" class="p-button-success" (click)="acceptOrder()"></button>
    <button pButton pRipple label="N" class="p-button-danger"></button>
</div>
