html, body {
    height: 100%;
    margin: 0;
}

.app-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh; // Use vh for full viewport height
}

app-header, app-footer {
    flex-grow: 0;
    flex-shrink: 0;
  }